<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Looking for more?!</h2>
                <hr class="light">
                <p class="text-faded">More information ranging from programming languages to more networking guides can be found at the site below! Not only can you learn how to protect yourself but you can understand new ways to influence our ever expanding computer world!</p>
                <a href="https://www.markinfo.dev/" class="btn btn-default btn-xl">Show Me!</a>
            </div>
        </div>
    </div>
</section>
