<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Networks and Servers</h1>
            <hr>
            <p>Learn the complications that dominate our lives and the online world. Ever wondered what a VPN is or how it works? You've come to the right place! Whether trying to understand personal vulnerabilities or to learn how to protect yourself you've come to the right place!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Let's Begin!</a>
        </div>
    </div>
</header>
